<app-navbar></app-navbar>
<div class = "content">
    <h1>Healthy catering</h1>
    <div class = "description">
        <p>We provide the best box diet in our country. 
           Our clients are happy to cooperate with us and we always make sure that they won't be disappointed 
           with quality of our products. We provide only fresh and tasty food cooked on the same day customers eat it.
        </p>
    </div>
    <h3>Check out our offer:</h3>
</div>
<app-carousel [foodSets]="foodSets"></app-carousel>