@import "../../../_shared/variables.scss";

.calculator-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  mat-card-content{
    margin-top:2em;
  }
  .calculator-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mat-form-field {
      text-align: left;
    }
    button {
      background-color: $my-primary;
      color: $my-secondary;
    }
  }
}
