<app-navbar></app-navbar>
<div class="calculator-container">
  <mat-card>
    <mat-card-title>Calculate your caloric requirement</mat-card-title>
    <mat-card-content>
      <form
        class="calculator-form"
        [formGroup]="calculateCaloricRequirementForm"
      >
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput formControlName="age" required />
            <mat-error
              *ngIf="
                calculateCaloricRequirementForm.get('age')?.errors?.['forbiddenAge']
              "
              >Please provide the correct age.</mat-error
            >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Height (cm)</mat-label>
            <input matInput formControlName="height" required />
            <mat-error
            *ngIf="
              calculateCaloricRequirementForm.get('height')?.errors?.['forbiddenHeight']
            "
            >Please provide the correct height.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Weight (kg)</mat-label>
            <input matInput formControlName="weight" required />
            <mat-error
            *ngIf="
              calculateCaloricRequirementForm.get('weight')?.errors?.['forbiddenWeight']
            "
            >Please provide the correct weight.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Activity during the day</mat-label>
            <mat-select formControlName="activity" required>
              <mat-option value="high">High</mat-option>
              <mat-option value="regular">Regular</mat-option>
              <mat-option value="low">Low</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <mat-error
          *ngIf="!isEveryInputFilled"
          style="margin-bottom: 0.5em"
        >
          Please fill all fields.
        </mat-error>
        <button mat-raised-button type="submit" (click)="onSubmitClick()">
          Calculate
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
