.settings-container {
    display: flex;
    justify-content: center;
    mat-card-title {
        text-align: center;
    }
    .settings-content {
        width: 30%;
        display: flex;
        flex-direction: column;
        .settings-form {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .change-button {
            display: flex;
            float: right;
        }
    }
}
