@import "../../../_shared/variables.scss";
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  .description p {
    margin-left: 10%;
    width: 80%;
    padding: 1em 0;
    background-color: $my-primary;
    color: $my-secondary;
    border: 1px solid black;
    opacity: 90%;
    transition: opacity 0.5s;
    border-radius: 5px;
    &:hover {
      opacity: 100%;
    }
  }
}
