@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "src/app/_shared/variables";
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

html,
body {
    height: 100%;
}
body {
    box-sizing: border-box;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 80%;
    margin-left: 10%;
    background-color: $my-secondary;
}
